header {
    z-index: 1001;
    padding: 12px 2% 12px 4%;
}
.header-info{
  padding-top: 5px;
  cursor: pointer;
}
.header-info span{
  margin-left: 20px;
}
.header-logo{
  height: 40px;
}
.header-padding{
  padding-bottom: 0px;
  padding-top: 5px;
}




