<header>
    <div class="container-fluid main">
      <div class="row justify-content-between header-padding">
        <div class="col-9 col-md-9">
          <div class="row">
            <div class="header_sub_container_button">
              <a (click)='goBack()' style='cursor: pointer;'>
                <i class="fa fa-chevron-left left-arrow"></i>
                <span class="header-back-text">Back</span>
              </a>
            </div>
          </div>
          <div class="row header_sub_container pt-1">
            <div class="header_sub_container_text">
                <span class="header-text">
                  {{header_text}}
                </span>
            </div>
          </div>
        </div>
        <div class="col-2 col-md-2 nopadding">
          <div class='header-info pull-right' (click)='logoClick()'> 
            <img class='header-logo' src='{{ASSETS_PATH}}/images/logo-square.png'
              srcset="{{ASSETS_PATH}}/images/logo-square@2x.png 2x,
              {{ASSETS_PATH}}/images/logo-square@3x.png 3x" />
          </div>
        </div>
      </div>
    </div>
</header>
  
  
  
  