$mtn-default: (
  50 : #fff9e1,
  100 : #ffefb4,
  200 : #ffe582,
  300 : #ffdb50,
  400 : #ffd32b,
  500 : #ffcb05,
  600 : #ffc604,
  700 : #ffbe04,
  800 : #ffb803,
  900 : #ffac01,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe8bf,
  A700 : #ffdea6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mtn-accent: (
  50 : #f9f9f9,
  100 : #f0f0f0,
  200 : #e6e6e6,
  300 : #dbdbdb,
  400 : #d4d4d4,
  500 : #cccccc,
  600 : #c7c7c7,
  700 : #c0c0c0,
  800 : #b9b9b9,
  900 : #adadad,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fffcfc,
  A700 : #ffe2e2,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mtn-warn: (
  50 : #f9e6ec,
  100 : #f1c1d0,
  200 : #e897b1,
  300 : #df6d92,
  400 : #d84e7a,
  500 : #d12f63,
  600 : #cc2a5b,
  700 : #c62351,
  800 : #c01d47,
  900 : #b51235,
  A100 : #ffe5e9,
  A200 : #ffb2c0,
  A400 : #ff7f96,
  A700 : #ff6581,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
