.input-wrapper3{
    display: grid;
    grid-template-columns: 1fr auto;
    align-self: left;
    border-radius: 25px;
    border: 0 !important;
  }
  .input-box-field{
    grid-column: 1 / 2;
    width: 100%;
    background-color: #f5f5f5 !important;
    border: 0 !important;
    border-radius: 25px;
    font-size: 13px !important;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .input-wrapper{
      display: -ms-grid;
      -ms-grid-columns: 1fr auto;
      height: 38px;
    }
    .input-box-field{
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      width: 100%;
      padding-bottom: 10px;
    }
    .close-button{
      -ms-grid-column: 2;
    }
    .label-error{
      display: none;
    }
  }
  
  