<div class="section">
    <div class="row">
        <div class="col-12 pr-0">
            <com-header [header_text]="header_text" (setLink)='backEmitter()' id='header' (logoLink)='logoClick()'></com-header>
        </div>
    </div>
  <div class="row no-margin justify-content-between">
      <div class="col-sm-12 col-md-6 col-lg-6 main-padding">
          <span class="heading">Enjoy your bundle!</span>
          <div class='row large_screen'>
              <div class="col-sm-12 col-md-7 col-lg-7 pt-3">                
              <com-button label='Go back to homepage' type='primary-pad' [disabled]="false"
              (click)='goToHomePage()'></com-button>
              </div>  
              </div>  
      </div>
      <div class="col-sm-12 col-md-6 col-lg-5 bottom-div">
          <img class="image" src="{{ASSETS_PATH}}/images/sales-enablement-illustrations-5-26.png" srcset="{{ASSETS_PATH}}/images/sales-enablement-illustrations-5-26@2x.png 2x,
        {{ASSETS_PATH}}/images/sales-enablement-illustrations-5-26@3x.png 3x">
        <com-button class='small_screen_1' label='Go back to homepage' type='primary-pad'
        (click)='goToHomePage()' [disabled]="false"></com-button>
      </div>
  </div>
</div>

