<div class="container-fluid data-main p-xs-0">
    <div *ngIf="mobile === false" class="row">
        <div class="col" *ngIf="smsbundleArray[0]">
            <span class='which-sms'>Which SMS bundle would you like?</span>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12 col-lg-8">
            <div *ngIf="smsbundleArray[0]">
                    <div class="bundle-list mt-2">
                        <div  *ngFor="let bn of smsbundleArray;let idx = index" class='each-card'>
                            <com-bundle-card (click)="select_bundle(idx)" [color]='bn.color' [size]='bn.value' [unit]='bn.name' [rate]='bn.cost' [y_desc]='bn.subdesc' 
                            [special_check]='bn.special' [check]='bn.check' [w_desc]='bn.desc'></com-bundle-card>
                        </div>
                    </div>
            </div>
            <h4 *ngIf="!(smsbundleArray[0])">No bundles available!</h4>
        </div>

    </div>
</div>
