<div class="container-fluid airtime-main p-lg-0 p-xs-0">
    <div class="row">
        <div class="col">
            <span class='which-sms'>How much airtime would you like to buy?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 col-xl-4 pt-4">
            <div class="airtime-input">
                <com-airtime-input type='number' placeholder='0' [_value]='value'  required>
                </com-airtime-input>
            </div>
        </div>
        
    </div>
</div>