@import './config/config';

.footer-main{
    background-color: white;
    color: black;
    font-weight: $font-thin;
  }
  .recharge-text{
    font-size: 12px;
  }
  .terms-text{
    font-size: 10px;
    line-height: 15px;
}

@media screen and (max-width: $resS){
  .pl-4{
    padding-left: 0 !important;
  }
}