::ng-deep .mat-checkbox-label {
  font-weight: 600;
  font-size: 14px;
}
.highlightText_secLabel {
  color: #488fc8;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 9px;
  cursor: pointer;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ffcc00 !important;
}
.mat-checkbox .mat-checkbox-frame {
  border-color: #ffcc00;
}
.mat-checkbox{
  font-family: inherit;
}
.mat-checkbox-layout{
  margin: 0 !important;
}
@media screen and (max-width: 575px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;    
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;    
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;    
  }
  .col-xs-12 {
    width: 100%;
  }
  .highlightText_secLabel {
    font-size: 13px;
  }
  ::ng-deep .mat-checkbox-label {
    font-size: 13px;
  }
  .highlightText_secLabel {
    font-size: 13px;
  }
}