<div class='main'>
    <div class='content'>
      <h1>Page Not Found</h1>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 col-md-6 col-lg-4">
            <com-button label='Go To Home Page' type='primary' [disabled]="false"  (click)='goToHome()'></com-button>
          </div>
        </div>
      </div>
      
  </div>
</div>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
